body{
    padding-top: 113px;
}

.image-container{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
}

img{
    width: 100%;
    height: 100%;
}

.on{
    background: rgba(130,200,160,1);
}

.off{
    background: rgba(250,90,90,1);
}

.btn-gradient {
    text-decoration: none;
    color: #292929;
    padding: 5px 5px;
    display: inline-block;
    position: relative;
    border: 1px solid rgba(0,0,0,0.21);
    border-radius: 4px;
}

.buttons{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    padding: 5px 5px 5px 5px;
    background: rgba(0,0,0,.2);
    overflow: scroll;
    white-space:nowrap
}

.buttons ul {
    display: flex;
}

.buttons ul li{
    flex-grow: 1;
}

.buttons button{
    margin-right: 5px;
}

.container {
    height: 100vh;
    background: lightgray;
}

.item {
    background: rgba(255, 0, 0, 0.5);
}

.item:nth-child(odd) {
    background: rgba(255, 255, 0, 0.5);
}